<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <div class="page-inner">
        <aside class="left">
          <nav class="nav-panel">
            {% for section in site.data.navigation.sections %}
              <h2>{{ section.heading }}</h2>
              {% for link in section.links %}
                <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
              {% endfor %}
            {% endfor %}
          </nav>
        </aside>
        <main class="main">
          {{ content }}
        </main>
      </div>
    </div>
  </body>
</html>
